<section id="location" class="content-section text-center">
    <div class="download-section">
        <div class="container">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Store Location</h2>
                <p>We are located at 6945 S. State St. in Chicago, IL.</p>
                <iframe style="width:95%;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11903.260671742439!2d-87.6246263!3d41.7676427!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xb1b35042a0bee610!2sA+%26+G+Foods!5e0!3m2!1sen!2sus!4v1443671906062" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</section>